html {
	overflow-x: hidden;
}
body{
	margin:0;
	font-family: "Roboto", sans-serif;
	overflow: hidden;
}
ul, li, a{
	color: white;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
button:focus {
	outline: none;
}
input:focus {
	outline: none;
}
.red, .red_2{
    color: red;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1vw;
}
.red_1{
	color: red;
	text-align: center;
	margin: 0;
	padding: 0;
}
.imagess{
	width: 30vw;
    margin: 1vw 0vw 2vw 0vw;
}

/**/
#main{
	height: auto;
}
#content{
	height: auto;
	box-shadow: 0 0 10vw rgba(0,0,0,0.3);
	width: 88%;
    margin: auto;
}
/*information*/
.info{
	position: relative;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.info img{
	width: 10%;
}
.info h1{
	font-size: 1.8vw;
	font-family: 'Cormorant Garamond';
	color: rgb(152, 136, 111);
	font-weight: bold;
	/*font-style: italic;*/
	line-height: 1.2;
	padding: 1vw;
	margin: 0;
}
.info p{
	font-size: 1vw;
	font-family: "Roboto", sans-serif;
	color: rgb(152, 136, 111);
/*	font-style: italic;*/
	line-height: 1.389;
	text-align: center;
	padding: 0;
	margin: 0;
	padding-left: 18vw;
    padding-right: 18vw;
}
#info{
	position: relative;
    text-align: center;
    padding-bottom: 3vw;
    padding-left: 20vw;
    padding-right: 20vw;
	margin-top: -2vw;
}
#info h1{
	font-size: 1.8vw;
	font-family: 'Cormorant Garamond';
	color: rgb(152, 136, 111);
	font-weight: bold;
	/*font-style: italic;*/
	line-height: 1.2;
	padding: 1vw;
	margin: 0;
}
#info p{
	font-size: 1vw;
	font-family: "Roboto", sans-serif;
	color: rgb(152, 136, 111);
	font-style: italic;
	line-height: 1.389;
	text-align: center;
	padding: 0;
	margin: 0;
}
.about_us{
	background-color: rgb(179, 164, 140);
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.9vw;
    border: none;
    height: 2vw;
    width: 10%;
    border-radius: 0.2vw;
    margin-top: 2vw;
	cursor: pointer;
}
/*photos*/
.wrap_1{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    justify-content: center;
	box-shadow: 0 0 5vw rgba(0,0,0,0.3);
}
.photo {
	width: 33.33%;
    height: 30vw;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-grid;
    transition: all ease 0.3s;
    text-align: center;
    position: relative;
}
.photo_1{background-color: white;z-index: 1}
.photo_2{background-image:url(../img/gal/2.jpg);background-size: cover;background-position: center center;}
.photo_3{background-image:url(../img/gal/3.png);}
.photo_4{background-image:url(../img/gal/1.png);}
.photo_5{background-color: rgb(150, 133, 104);z-index: 1;}
.photo_6{background-image:url(../img/gal/4.png);}
.photo_2:hover, .photo_3:hover, .photo_4:hover, .photo_6:hover {
	background-color: #ffffff;
	opacity:0.5;
}
.text_on_photo{
	position: relative;
	padding: 5vw;
    z-index: 1;
}
.photo_1 .text_on_photo {
    background-color: rgba(255,255,255,1);
}
.photo_5 .text_on_photo {
    background-color: rgb(150, 133, 104);
}

.text_on_photo h2{
	font-size: 3.5vw;
	font-family: "Cormorant Garamond";
	color: rgb(152, 136, 111);
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	margin: 0;
    padding: 0;
	margin-bottom: 0.6vw;
}
.text_on_photo p{
	font-size: 1vw;
	font-family: "Roboto";
	color: rgb(113, 103, 87);
	line-height: 1.4;
	text-align: center;
	margin: 0;
    padding: 0;
}
.text_on_photo span{
	color: white;
}
.book_a_tour{
	background-color: rgb(179, 164, 140);
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.9vw;
    border: none;
    height: 2vw;
    width: 59%;
    border-radius: 0.2vw;
    margin-top: 2vw;
	cursor: pointer;
}

.hiden_form {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,1);
    top: 0;
    right: 0%;

}

.hiden_form .hidde {
    cursor: pointer;
    position: absolute;
    top: 0.9vw;
    right: 0.9vw;
    width: 2vw;
    height: 2vw;
    background-image: url(../img/back.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);

}
.hiden_form form {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.hiden_form input {
    width: 30%;
    min-width: 200px;
    background-color: #c3b8a5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    border: none;
    margin: 2vh 0;
    padding: 5px 8px;
    font-size: 0.9em;
    font-weight: 300;
}
.photo_5 .hiden_form{
    background-color: #968568;
}
.hiden_form input[type = submit]{
    margin: 3vh;
    border-radius: 0.2vw;
    width: 15%;
    min-width: 100px;
    background-color: #ab9c82;
    font-size: 0.9vw;
    height: 2vw;

}
.hiden_form ::-webkit-input-placeholder { /* Chrome */
  color: #ffffff;
}
.hiden_form :-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.hiden_form ::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
.hiden_form :-moz-placeholder { /* Firefox 4 - 18 */
  color: #ffffff;
  opacity: 1;
}
/*why_us*/
/*
.block_why_us{
	margin-top: 5vw;
    margin-bottom: 5vw;
}
.whyus h3{
	font-size: 3vw;
	font-family: "CormorantGaramond";
	color: rgb(179, 165, 141);
	font-weight: bold;
	font-style: italic;
	line-height: 1.2;
	text-align: center;
}
.wrap_2{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    text-align: center;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.blocks{
	width: 16vw;
    height: 16vw;
    margin: 1vw;
    display: inline-block;
    transition: all ease 0.3s;
}
.content{
	background-color: #d0b88f;
	box-shadow: 0px 6px 116.8px 29.2px rgba(188, 188, 188, 0.33);
}
.table{
	width: 100%;
	height: 16vw;
}
.table tr{
	height: 50%;
}
.table td{
	vertical-align: top;
}
.image{
	text-align: center;
}
/*.image img{
	width: 25%;
	margin-top: 3vw;
}
.block_why_us{
	margin-top: 5vw;
    margin-bottom: 5vw;
}
*/
.whyus h3{
	font-size: 3vw;
	font-family: "CormorantGaramond";
	color: rgb(179, 165, 141);
	font-weight: bold;
	font-style: italic;
	line-height: 1.2;
	text-align: center;
}
.wrap_2{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    text-align: center;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.blocks{
	width: 14vw;
    height: auto;
    margin: 1vw;
    display: inline-block;
    transition: all ease 0.3s;
	background-color: rgb(179, 164, 140);
	box-shadow: 0px 6px 116.8px 29.2px rgba(188, 188, 188, 0.33);
	border-radius: 0.2vw;
	cursor: pointer;
}
.blocks_logos{
	width: 19vw;
    height: 6vw;
    margin: 1vw;
    display: inline-block;
    text-align: center;
}
.blocks_logos img{
	width: 10vw;
}
.image{
	text-align: center;
}
.image img{
	width: 75%;
    margin-top: 1vw;
}
.content_info h1{
	font-size: 1.2vw;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 0.5vw;
}
.content_info h2{
	font-size: 1vw;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0;
    margin: 0;
}

/*tour*/
.round_buttons_web{
	display: block;
	text-align: center;
	padding-top: 2vw;
}
.round_buttons_web button {
    background-color: rgb(198, 177, 141);
    padding: 0.5vw;
    border-radius: 3vw;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
}


.wrap_3{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    justify-content: center;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	/*margin-top: 5vw;*/
}
.cell1{
	height: 38vw;
    width: 70%;
    padding: 0;
    display: inline-block;
    transition: all ease 0.3s;
}
.cell2{
	height: 38vw;
    width: 30%;
    padding: 0;
    display: inline-block;
    transition: all ease 0.3s;
}
.background1{
	background-image: url(../img/poezda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: 50%;
}
.background3{
	background-image: url(../img/photo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background4{
	background-image: url(../img/photo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background2{
	background-color: rgb(169, 145, 105);
}
.text_block{
	padding-top: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
}
.text_block h3{
	font-family: "CormorantGaramond";
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    font-size: 3vw;
	padding: 1vw;
	margin: 0;
}
.text_block p{
	font-size: 1vw;
	font-family: "Roboto", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.188;
	text-align: center;
	font-style: italic;
	padding: 0;
	margin: 0;
}
.text_border{
	border-top: 2px solid white;
    border-right: 2px solid white;
    height: 0.8vw;
    width: 0.8vw;
    position: relative;
    left: 21.5vw;
}
.signature{
	text-align: right !important;
}
/*slogan*/
.slogan{
	margin-top: 5vw;
	padding-bottom: 5vw;
	height: auto;
}
.slogan h4{
	font-size: 1.7vw;
	font-family: "CormorantGaramond";
	color: rgb(152, 136, 111);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
}
.slogan p{
	font-size: 1.1vw;
	font-family: "Roboto", sans-serif;
	color: rgb(152, 136, 111);
	font-style: italic;
	line-height: 1.563;
	text-align: center; 
}
.text_border_slogan_top{
	border-top: 2px solid rgb(179, 165, 141);
    border-right: 2px solid rgb(179, 165, 141);
    height: 0.8vw;
    width: 0.8vw;
    position: relative;
    left: 64vw;
}
.text_border_slogan_bottom{
	border-bottom: 2px solid rgb(179, 165, 141);
    border-left: 2px solid rgb(179, 165, 141);
    height: 0.8vw;
    width: 0.8vw;
    position: relative;
    left: 21vw;
}

.red p {
    color: red;
}
.checkmail{
    width: 25%;
    height : auto;
    padding: 10px;
    background-color: rgb(169, 145, 105);
    border: 4px solid rgb(121, 101, 68);
    margin: 0; 
    margin-left: auto;
    margin-right: auto;
}

.checkmail h1{
    text-align: center;
    color: rgb(248, 248, 248);
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
}

/*PAGES*/
#auverda{
	background-image: url(../img/auverda.jpg);

}
#poezda{
	background-image: url(../img/poezda.jpg);
}
#golf{
	background-image: url(../img/golf.png);
	background-position-y: 22%;
}
.colormain{
	background-size: cover;
    background-repeat: no-repeat;
	height: 41vw;
	width: 100%;	
}
.colormain h3, .colormain- h3{
	margin: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2.2vw;
    text-align: center;
    bottom: 11vw;
    position: relative;
	opacity: 0.8
}
.about_info{}
.about_info div{
	width: 33.33%;
    height: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    padding-right: 3vw;
}
.about_info h1{
	font-family: "Roboto", serif;
	color: rgb(179, 165, 141);
	font-weight: bold;
	margin:0;
	font-size: 2vw;
	font-size: 1.2vw;
    margin-bottom: 1vw;
}
.about_info p{
	font-family: "Roboto", serif;
    color: rgb(152, 136, 111);
    margin: 0;
    font-size: 1vw;
    line-height: 1.2vw;
    text-align: justify;
    margin-bottom: 1.5vw;
}
#image-a1{
	background-image: url(../img/mazas-bildes/2.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
#image-a2{
	background-image: url(../img/mazas-bildes/1.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
#image-a3{
	background-image: url(../img/mazas-bildes/3.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

#content-in, #content-in-2{
	width: 80%;
	margin: auto;
	padding-bottom: 5vw;
}
#express{
	flex-wrap: wrap;
}
#express a{
	list-style-type: none;
    font-size: unset;
    font-family: unset;
    color: unset;
    line-height:unset;
    margin: unset;
    padding-bottom: unset;
    cursor: pointer;
	width: 100%;
	height: 100%;
}
#content-in-2 h5{
	font-family: "Roboto", serif;
    color: rgb(152, 136, 111);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8vw;
    margin: 3vw;
}
#content-in-2 p{
	font-family: "Roboto", serif;
    color: rgb(152, 136, 111);
	margin: 0;
    text-align: justify;
    font-size: 1.2vw;
    line-height: 2vw;
}
#content-in-2 p b{
	font-size: 1.5vw;
}
#express h5{
	font-family: "CormorantGaramond", serif;
    color: rgb(152, 136, 111);
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 27vw;
    font-size: 1.5vw;
}
#express div{


}
.d1{
	width: 100% !important;
	margin-bottom: 5vw;
}
.d0{
	width: 50%;
    height: 26vw;
	margin-bottom: 5vw;
}
.g{
	background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
    height: 26vw;
}
.g0{background-image: url(../img/mazas-bildes2/5.jpg);}
.g1{background-image: url(../img/mazas-bildes2/1.jpg);}
.g2{background-image: url(../img/mazas-bildes2/2.jpg);}
.g3{background-image: url(../img/mazas-bildes2/4.jpg);}
.g4{background-image: url(../img/mazas-bildes2/3.jpg);}


.butpoezd{
	justify-content: space-evenly;
    padding: 3vw;
}
.butpoezd button{
    background-color: #b3a58d;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    font-weight: 600;
    border: none;
    padding: 1vw 1vw;
    width: 25vw;
    border-radius: 2vw;
    cursor: pointer;
}


/*collection*/
#platinum-collection{
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
#platinum-collection div{
	width: 30%;
    padding: 1vw;
    border: 2px dashed rgba(0,0,0,0.2);
	margin-bottom: 0.5vw
}
#platinum-collection h2{
	margin: 0.5vw;
    font-size: 1.5vw;
    color: white;
    background-color: rgba(32, 30, 30, 0.671);
    padding: 0.7vw;
}
#platinum-collection h1{
	font-size: 1.2vw;
    margin: 0.5vw;
    font-style: italic;
    font-weight: bold;
}
#platinum-collection p{
    margin: 0.5vw;
    font-weight: 600;
    font-size: 1.1vw;
	margin-bottom: 2vw;
}
#platinum-collection img{
    margin: 0.5vw;
	width: 290px;
}
.it{
	width:100% !important;
	margin: 1vw;
}
.it div{
    float: left;
    height: 31vw;
    border-left: none !important;
    border-right: none !important;
	border-top: none !important;
}



.countries{
	justify-content: center;
	text-align: center;
	padding-bottom:3vw;
}
.countries div{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;	
}
.countries h1{
	font-family: "Roboto", serif;
    color: rgb(152, 136, 111);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8vw;
    margin: 3vw;
}
.countries span{
	font-family: 'Cormorant Garamond';
}
.map{
	text-align:center;
	display: flex;
	width:100%;
}
.map div:first-child{
	width: 14.5vw;
    margin-right: 5vw;
	margin-top: -2vw;
}
.map img{
	width:100%;
	margin-top:2vw;
}
.map li{
	font-size: 2vw !important;
    line-height: 1.3vw !important;
    background: rgba(32, 30, 30, 0.671);
    transition: all ease 0.3s;
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    margin-bottom: 0.3vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    align-items: center;
    padding-bottom: 0;
    height: 2vw;
}


.move {
    flex-direction: column;
    width: 14.5vw;
    position: absolute;
    left: 6vw;
    top: 16vw;
}
.move button{
	background: rgba(32, 30, 30, 0.671);
    height: 3vw;
    transition: all ease 0.3s;
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    margin-bottom: 0.3vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.about-country{}
.this{
    margin-left: 18vw;
    margin-right: 24vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
    min-height: 40vw;
}
.this p{
    font-family: "Roboto", serif;
    color: rgb(152, 136, 111);
    margin: 0;
    text-align: justify;
    font-size: 1.2vw;
    line-height: 2vw;
	margin-bottom: 1vw;
}
.this a{
	text-decoration: underline;
	color: rgb(152, 136, 111);
	font-size: 1.2vw;
}
.hotel-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 8vw;
    top: 18vw;
}
.hotel-images img{
	width: 17vw;
	margin-top: 1vw;
}
.this table{
	margin-top:2vw;
}

.count2, .count3, .count4, .count5, .count6, .count7{display:none;}

@media screen and (max-width: 1300px){
#platinum-collection img{
    margin: 0.5vw;
	width: 20vw;
}
}