html {
	overflow-x: hidden;
}
body{
	margin:0;
	font-family: "Roboto", sans-serif;
	overflow: hidden;
}
ul, li, a{
	color: white;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
button:focus {
	outline: none;
}
input:focus {
	outline: none;
}
.red, .red_2{
    color: red;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 1vw;
}
.red_1{
	color: red;
	text-align: center;
	margin: 0;
	padding: 0;
}

/**/
#main{
	height: auto;
}
#content{
	height: auto;
	box-shadow: 0 0 10vw rgba(0,0,0,0.3);
	margin-left: 6vw;
	margin-right: 6vw;
}
/*information*/
.info{
	position: relative;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.info img{
	width: 4%;
}
.info h1{
	font-size: 1.8vw;
	font-family: 'Cormorant Garamond';
	color: rgb(179, 165, 141);
	font-weight: bold;
	font-style: italic;
	line-height: 1.2;
	padding: 1vw;
	margin: 0;
}
.info p{
	font-size: 1vw;
	font-family: "Roboto", sans-serif;
	color: rgb(171, 171, 171);
	font-style: italic;
	line-height: 1.389;
	text-align: center;
	padding: 0;
	margin: 0;
	padding-left: 18vw;
    padding-right: 18vw;
}
#info{
	position: relative;
    text-align: center;
    padding-bottom: 3vw;
    padding-left: 20vw;
    padding-right: 20vw;
	margin-top: -2vw;
}
#info h1{
	font-size: 1.8vw;
	font-family: 'Cormorant Garamond';
	color: rgb(179, 165, 141);
	font-weight: bold;
	font-style: italic;
	line-height: 1.2;
	padding: 1vw;
	margin: 0;
}
#info p{
	font-size: 1vw;
	font-family: "Roboto", sans-serif;
	color: rgb(171, 171, 171);
	font-style: italic;
	line-height: 1.389;
	text-align: center;
	padding: 0;
	margin: 0;
}
.about_us{
	background-color: rgb(179, 164, 140);
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.9vw;
    border: none;
    height: 2vw;
    width: 10%;
    border-radius: 0.2vw;
    margin-top: 2vw;
	cursor: pointer;
}
/*photos*/
.wrap_1{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    justify-content: center;
	box-shadow: 0 0 5vw rgba(0,0,0,0.3);
}
.photo {
	width: 33.33%;
    height: 30vw;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-grid;
    transition: all ease 0.3s;
    text-align: center;
    position: relative;
}
.photo_1{background-color: white;z-index: 1}
.photo_2{background-image:url(../img/gal/1.png);}
.photo_3{background-image:url(../img/gal/2.png);}
.photo_4{background-image:url(../img/gal/3.png);}
.photo_5{background-color: rgb(150, 133, 104);z-index: 1;}
.photo_6{background-image:url(../img/gal/4.png);}
.photo_2:hover, .photo_3:hover, .photo_4:hover, .photo_6:hover {
	background-color: #ffffff;
	opacity:0.5;
}
.text_on_photo{
	position: relative;
	padding: 5vw;
    z-index: 1;
}
.photo_1 .text_on_photo {
    background-color: rgba(255,255,255,1);
}
.photo_5 .text_on_photo {
    background-color: rgb(150, 133, 104);
}

.text_on_photo h2{
	font-size: 3.5vw;
	font-family: "Cormorant Garamond";
	color: rgb(179, 165, 141);
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	margin: 0;
    padding: 0;
	margin-bottom: 0.6vw;
}
.text_on_photo p{
	font-size: 1vw;
	font-family: "Roboto";
	color: rgb(179, 165, 141);
	line-height: 1.4;
	text-align: center;
	opacity: 0.6;
	margin: 0;
    padding: 0;
}
.text_on_photo span{
	color: white;
}
.book_a_tour{
	background-color: rgb(179, 164, 140);
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.9vw;
    border: none;
    height: 2vw;
    width: 59%;
    border-radius: 0.2vw;
    margin-top: 2vw;
	cursor: pointer;
}

.hiden_form {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,1);
    top: 0;
    left:0%;

}

.hiden_form .hidde {
    cursor: pointer;
    position: absolute;
    top: 0.9vw;
    right: 0.9vw;
    width: 2vw;
    height: 2vw;
    background-image: url(../img/back.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}
.hiden_form form {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.hiden_form input {
    width: 30%;
    min-width: 200px;
    background-color: #c3b8a5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    border: none;
    margin: 2vh 0;
    padding: 5px 8px;
    font-size: 0.9em;
    font-weight: 300;
}
.photo_5 .hiden_form{
    background-color: #968568;
}
.hiden_form input[type = submit]{
    margin: 3vh;
    border-radius: 0.2vw;
    width: 15%;
    min-width: 100px;
    background-color: #ab9c82;
    font-size: 0.9vw;
    height: 2vw;

}
.hiden_form ::-webkit-input-placeholder { /* Chrome */
  color: #ffffff;
}
.hiden_form :-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.hiden_form ::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
.hiden_form :-moz-placeholder { /* Firefox 4 - 18 */
  color: #ffffff;
  opacity: 1;
}
/*why_us*/
/*
.block_why_us{
	margin-top: 5vw;
    margin-bottom: 5vw;
}
.whyus h3{
	font-size: 3vw;
	font-family: "CormorantGaramond";
	color: rgb(179, 165, 141);
	font-weight: bold;
	font-style: italic;
	line-height: 1.2;
	text-align: center;
}
.wrap_2{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    text-align: center;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.blocks{
	width: 16vw;
    height: 16vw;
    margin: 1vw;
    display: inline-block;
    transition: all ease 0.3s;
}
.content{
	background-color: #d0b88f;
	box-shadow: 0px 6px 116.8px 29.2px rgba(188, 188, 188, 0.33);
}
.table{
	width: 100%;
	height: 16vw;
}
.table tr{
	height: 50%;
}
.table td{
	vertical-align: top;
}
.image{
	text-align: center;
}
/*.image img{
	width: 25%;
	margin-top: 3vw;
}
.block_why_us{
	margin-top: 5vw;
    margin-bottom: 5vw;
}
*/
.whyus h3{
	font-size: 3vw;
	font-family: "CormorantGaramond";
	color: rgb(179, 165, 141);
	font-weight: bold;
	font-style: italic;
	line-height: 1.2;
	text-align: center;
}
.wrap_2{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    text-align: center;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.blocks{
	width: 14vw;
    height: auto;
    margin: 1vw;
    display: inline-block;
    transition: all ease 0.3s;
	background-color: rgb(179, 164, 140);
	box-shadow: 0px 6px 116.8px 29.2px rgba(188, 188, 188, 0.33);
	border-radius: 0.2vw;
}
.blocks_logos{
	width: 19vw;
    height: 10vw;
    margin: 1vw;
    display: inline-block;
    text-align: center;
}
.blocks_logos img{
	width: 14vw;
}
.image{
	text-align: center;
}
.image img{
	width: 75%;
    margin-top: 1vw;
}
.content_info h1{
	font-size: 1.2vw;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 0.5vw;
}
.content_info h2{
	font-size: 1vw;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0;
    margin: 0;
}

/*tour*/
.round_buttons_web{
	display: block;
	text-align: center;
	padding-top: 2vw;
}
.round_buttons_web button {
    background-color: rgb(198, 177, 141);
    padding: 0.5vw;
    border-radius: 3vw;
    border: none;
    cursor: pointer;
    margin-right: 1vw;
}


.wrap_3{
	width: 100%;
    flex-wrap: wrap;
    margin: 0;
    display: flex;
    justify-content: center;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	/*margin-top: 5vw;*/
}
.cell1{
	height: 38vw;
    width: 70%;
    padding: 0;
    display: inline-block;
    transition: all ease 0.3s;
}
.cell2{
	height: 38vw;
    width: 30%;
    padding: 0;
    display: inline-block;
    transition: all ease 0.3s;
}
.background1{
	background-image: url(../img/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background3{
	background-image: url(../img/photo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background4{
	background-image: url(../img/photo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.background2{
	background-color: rgb(169, 145, 105);
}
.text_block{
	padding-top: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
.text_block h3{
	font-family: "CormorantGaramond";
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    font-size: 3vw;
	padding: 1vw;
	margin: 0;
}
.text_block p{
	font-size: 1vw;
	font-family: "Roboto", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.188;
	text-align: center;
	font-style: italic;
	padding: 0;
	margin: 0;
}
.text_border{
	border-top: 2px solid white;
    border-right: 2px solid white;
    height: 0.8vw;
    width: 0.8vw;
    position: relative;
    left: 21.5vw;
}
.signature{
	text-align: right !important;
}
/*slogan*/
.slogan{
	margin-top: 5vw;
	padding-bottom: 5vw;
	height: auto;
}
.slogan h4{
	font-size: 1.7vw;
	font-family: "CormorantGaramond";
	color: rgb(179, 165, 141);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
}
.slogan p{
	font-size: 1.1vw;
	font-family: "Roboto", sans-serif;
	color: rgb(146, 146, 146);
	font-style: italic;
	line-height: 1.563;
	text-align: center; 
}
.text_border_slogan_top{
	border-top: 2px solid rgb(179, 165, 141);
    border-right: 2px solid rgb(179, 165, 141);
    height: 0.8vw;
    width: 0.8vw;
    position: relative;
    left: 64vw;
}
.text_border_slogan_bottom{
	border-bottom: 2px solid rgb(179, 165, 141);
    border-left: 2px solid rgb(179, 165, 141);
    height: 0.8vw;
    width: 0.8vw;
    position: relative;
    left: 21vw;
}

.red p {
    color: red;
}
.checkmail{
    width: 25%;
    height : auto;
    padding: 10px;
    background-color: rgb(169, 145, 105);
    border: 4px solid rgb(121, 101, 68);
    margin: 0; 
    margin-left: auto;
    margin-right: auto;
}

.checkmail h1{
    text-align: center;
    color: rgb(248, 248, 248);
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
}